body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  height: 150px;
}
nav .navigation {
  display: flex;
  justify-content: flex-end;
}
nav .mail-profile img {
  width: 54.62px;
}
.message {
  text-decoration: none;
}
.total-message {
  position: relative;
  top: -18px;
  margin-right: -18px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}
.profile img {
  border-radius: 30px;
}
header {
  margin-top: 200px;
}
header .profile-header {
  margin-top: 41px;
}
header .image-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .image-profile img {
  border-radius: 150px;
  width: 218.46px;
}
.btn-pen {
  margin-left: 150px;
  margin-top: -35px;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: #32DBC6;
  border: none;
  border-radius: 50px;
}
header h1, header h2, header p {
  font-weight: bold;
}
form .gender {
  margin-top: 134px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}
section form .gender label {
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px;
}
form .contact, form .identity {
  color: #9F9F9F;
}
.form-check-input {
  background-color: #EBEFD0;
}
.form-check-input:focus {
  background-color: #32DBC6;
}
section form .form-contact {
  height: 50px;
  padding-left: 0;
  margin-top: 15px;
  border-radius: 0;
  border: none ;
  border-bottom: 1px solid black;
}

.form-control:focus {
  box-shadow: none !important;
}
section form .form-contact:focus {
  background-color: rgba(50, 219, 198, 0);
  outline: none;
  box-shadow: #32DBC6;
}
section form .form-contact:active {
  background-color: #fff;
}
.btn-group {
  margin-top: 100px;
}
form .btn-save,
form .btn-edit,
form .btn-cancel {
  border: none;
  width: 70%;
  padding: 19px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
form .btn-save:hover,
form .btn-edit:hover,
form .btn-cancel:hover {
  background-color: #EBEFD0;
  color: #085F63;
}
form .btn-save {
  color: #fff;
  background-color: #32DBC6;
}
form .btn-edit {
  background-color: #151b1b;
  color: #32DBC6;
}
form .btn-cancel {
  background-color: #CBCBD4;
}

footer {
  margin-top: 103px;
}
@media all and (max-width: 991px) {
  nav {
    height: 80px;
  }
  nav .navigation#navbarNav {
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0;
  }
}