body {
  font-family: 'Nunito', sans-serif;
}
nav {
  height: 150px;
}
nav .navigation {
  padding: 0 50px;
  display: flex;
  justify-content: flex-end;
}
nav.navbar .navigation .navbar-brand {
  width: 41px;
}
nav.navbar .navigation ul li a {
  color: #393939;
  margin: 17.5px;
  font-family: 'Nunito', sans-serif;
}
nav.navbar .navigation ul li .btn-nav {
  border-radius: 8px;
  width: 132px;
}


header.header-homepage {
  margin-top: 150px;
  background-image: url(./images/homepage.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
header .opacity {
  padding-top: 69px;
  height: 805px;
  background-color: rgba(0, 0, 0, 0.3);
}
header .opacity h1 {
  margin-bottom: 71px;
  font-weight: bold;
  font-size: 64px;
  font-family: 'Playfair Display', serif;
}
header .opacity p {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}
header .opacity .line {
  border-top: 3px solid #fff;
  width: 32px;
}
header .option-form {
  width: 220px;
  height: 52px;
  margin:35px 0;
  margin-right: 31px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}
header .opacity .btn {
  border-radius: 8px;
  width: 180px;
  height: 52px;
  margin-top: 51px;
  margin-bottom: 119px;
}

/* section */
section h2 {
  margin-top: 82px;
  margin-bottom: 56px;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Playfair Display', serif;
}
main section img {
  border-radius: 10px;
  margin-bottom: 15px;
}
main section a {
  text-decoration: none;
}
main section .highlight {
  margin-top: -54px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
}
main section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}
main section .highlight span {
  font-size: 17px;
  color: #686767;
}

section.testimoni .left-testi {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.testimoni .comment i {
  color:#FFBB0C;
  margin-right: 15px;
}
section.testimoni .comment p {
  margin-top: 31px;
  margin-bottom: 40px;
  width: 450px;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Mulish', sans-serif;
}
section.testimoni .profile h5 {
  font-weight: bold;
}
section.testimoni .profile .image {
  margin: 0 auto;
  width: 396px;
}
section.testimoni .profile img {
  border-radius: 10px;
  width: 396px;
}
section.testimoni .profile .next-prev {
  position: relative;
  background-color: #fff;
  padding: 10px;
  margin-top: -53px;
  width: 132px;
  height: 60px;
  border-radius: 16px 0px 0px 0px;
}
section.testimoni .profile .next-prev .btn  {
  border: 2px solid black;
  width: 40px;
  border-radius: 60px;
  margin: 0 5px;
}


@media all and (max-width: 650px) {
  nav {
    height: 100px;
  }
  nav .navigation {
    padding: 10px;
  }
  header.header-homepage {
    margin-top: 100px;
  }
  header select.option-form {
    margin: 13px 0;
  }
  
}