* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', Courier, monospace;
}
nav {
  height: 150px;
}
nav .navigation {
  display: flex;
  justify-content: flex-end;
}
nav .mail-profile img {
  width: 54.62px;
}
.message {
  text-decoration: none;
}
.total-message {
  position: relative;
  top: -18px;
  margin-right: -18px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}
.profile img {
  border-radius: 30px;
}
nav form {
  height: auto;
}
nav form {
  margin: 0;
}
nav form input::placeholder {
  font-size: 15px;
}
nav input.form-control {
  padding-left: 8px;
}
nav input.form-control:focus,
nav input.form-control:hover {
  padding-right: 45px;
}
nav form button {
  height: 0;
}
nav form .search-icon {
  font-size: 15px;
  padding-right: 0;
  color: #B8BECD;
}
nav form .search-icon:hover {
  color: black;
}

/* form */
form, form, button {
  height: 72px;
}
form {
  margin-top: 180px;
}
form input::placeholder {
  font-size: 19px;
  color: #B8BECD !important;
}
form .form-control {
  padding-left: 75px;
}
form .form-control:focus {
  padding-right: 100px;
}
form .search-icon {
  font-size: 25px;
  padding-right: 40px;
}

/* section */
section {
  margin-top: 160px;
}
h2 {
  font-family: 'Playfair Display', Times, serif;
  font-weight: bold;
}
section p {
  margin: 80px 0;
}
.head {
  margin-bottom: 40px;
}
.view-all {
  text-decoration: none;
  color: #49BEB7;
}
.parrent-img {
  padding: 10px;
}
.img-section {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  height: 337px;
}
section img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 284px;
  height: 337px;
  
}
section a {
  text-decoration: none;
}
section .highlight {
  margin-top: -67px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
}
section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}
section .highlight span {
  font-size: 17px;
  color: #686767;
}
@media all and (max-width: 991px) {
  nav {
    height: 95px;
  }
  nav .navigation#navbarNav {
    align-items: flex-end;
    flex-direction: column;
    margin: 20px 0;
  }
  nav form {
    margin: 20px 0;
  }
  .img-section {
    height: 277px;
  }
  section {
    margin-top: 50px;
  }
  section .highlight {
    margin-top: -129px;
  }
}