* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', Courier, monospace;
}
nav {
  height: 150px;
}
nav .navigation {
  display: flex;
  justify-content: flex-end;
}
nav .mail-profile img {
  width: 54.62px;
}
.message {
  text-decoration: none;
}
.total-message {
  position: relative;
  top: -18px;
  margin-right: -18px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}
.profile img {
  border-radius: 30px;
}

/* form */
form, form, button {
  height: 72px;
}
form {
  margin-top: 180px;
}
form input::placeholder {
  font-size: 19px;
  color: #B8BECD !important;
  padding-left: 35px;
}
.search-icon {
  font-size: 25px;
  padding-right: 40px;
}

/* section */
section {
  margin-top: 100px;
}
h2 {
  font-family: 'Playfair Display', Times, serif;
  font-weight: bold;
}
.head {
  margin-bottom: 40px;
}
.view-all {
  text-decoration: none;
  color: #49BEB7;
}
.parrent-img {
  padding: 10px;
}
.img-section {
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  height: 337px;
}
section img {
  border-radius: 10px;
  margin-bottom: 15px;
  width: 284px;
  height: 337px;
  
}
section a {
  text-decoration: none;
}
section .highlight {
  margin-top: -67px;
  position: relative;
  background-color: #ffff;
  width: 120px;
  height: 56px;
  border-radius: 0px 6px 0px 0px;
  font-family: 'Nunito', sans-serif;
  color: #042521;
}
section .highlight h5 {
  color: #042521;
  font-weight: 600;
  font-size: 17px;
}
section .highlight span {
  font-size: 17px;
  color: #686767;
}